bin/
obj/
publish/
publish-with-icon/
publish-with-tray-icon/
publish-colored-icon/
publish-portable/
publish-final/
publish-color-final/
.vs/
*.user
*.suo

# Lokale Benutzer- und Authentifizierungsdaten
credentials.bin
settings.json
